@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

/* anchor tag style */
a{
    text-decoration: none;
}

/* body tag style */
body{
    margin: 0px;
    padding: 5px;
    font-family: poppins;
}

/* when text is selected */
::selection{
color:#ffffff;
background-color:#40aa54;}

/* Navigation Header properties*/
.navigation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
   /*margin-left: 90px;*/
}

.header-items{
    display: flex;
	align-items:center;
}
.header-items li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
	
}

